nicegui==3.4.1
libsql
httpx
beautifulsoup4
feedparser
google-generativeai
python-dotenv
weasyprint==62.3
arabic-reshaper
python-bidi
reportlab
python-docx
openpyxl
markdown2
matplotlib
lxml
html5lib
pymupdf
Pillow
